<footer class="site-footer mt-auto">
    <div class="container-lg">
        <a
            class="site-footer-inner site-footer-link"
            href="https://www.facebook.com/OfDigital/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="OfDigital on Facebook"
        >
            <img
                src="{{ url_for('static', filename='images/OfDigital_Logo.png') }}"
                alt="OfDigital"
                class="site-footer-logo"
                width="36"
                height="36"
            >
            <span class="site-footer-credit" data-i18n="footer.developed_by">
                Developed by OfDigital
            </span>
        </a>
    </div>
</footer>
